<!--navbar-->
<div class="container-fluid page-styling site-header-before" style='background-color:rgb(36, 36, 36)'>
    <div class="row">
        <div class="col-lg-4">
            <ul class="links_list links_list-align-left align-center-desktop topbar-social">
                <li>
                    <p class="links_list-value">
                        <a href="https://github.com/Anderson0421" target="_blank" rel="nofollow">
                            <i class="fa fa-github"></i>
                        </a>
                    </p>
                </li>
                <li>
                    <p class="links_list-value">
                        <a href="https://www.linkedin.com/in/anderson-marcelo-herrera-2a898a250/" target="_blank" rel="nofollow">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-lg-8">
            <ul class="links_list links_list-align-right align-center-desktop topbar-contacts">
                <li>
                    <p class="links_list-label">
                        <i class='fa fa-compass'></i>
                    </p>
                    <p class="links_list-value">
                        <a href="http://maps.google.com" target="_blank" rel="nofollow">Lima Perú</a>
                    </p>
                </li>
                <li>
                    <p class="links_list-label">
                        <i class='fa fa-envelope'></i>
                    </p>
                    <p class="links_list-value">
                        <a href="mailto:andymarcelo21@outlook.es">andymarcelo21@outlook.es</a>
                    </p>
                </li>
                <li>
                    <p class="links_list-label">
                        <i class='fa fa-phone'></i>
                    </p>
                    <p class="links_list-value">
                        <a href="tel:941166905">(51)-941166905</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>