
<div class="row prod-items prod-items-2">
    {% for producto in productos %}
    <article class="cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">
        <div class="sectgl prod-i">
            <div class="prod-i-top">
                <a class="prod-i-img" href="{% url 'web:producto' producto.id %}">
                    {% if producto.imagen %}
                        <img src="{{producto.imagen.url}}" alt="">
                    {% else %}
                        <img src="https://via.placeholder.com/250" alt="">
                    {% endif %}
                </a>
                <div class="prod-i-actions">
                    <div class="prod-i-actions-in">
                        <p class="prod-i-cart">
                            <a href="{% url 'web:agregarCarrito' producto.id %}" class="hover-label prod-addbtn add_cart"><i class="icon ion-android-cart"></i><span>Añadir al carrito</span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="prod-i-bot">
                <div class="prod-i-info">
                    <p class="prod-i-price">${{producto.precio}}</p>
                    <p class="prod-i-categ"><a href="#">{{producto.categoria}}</a></p>
                </div>
                <h3 class="prod-i-ttl"><a href="{% url 'web:producto' producto.id %}">{{producto.nombre}}</a></h3>
            </div>
        </div>
    </article>
    {% endfor %}
</div>
{% block script %}
<script type="application/javascript">
    $(document).ready(function() {
        $('.add_cart').click(function(event) {
            event.preventDefault(); 
    
            // Realizar una solicitud AJAX al servidor
            $.ajax({
                type: 'GET', // Puedes usar POST si es necesario
                url: $(this).attr('href'), // Obtener la URL del enlace
                success: function(response) {
                    // La solicitud se completó con éxito
                    Swal.fire({
                        title: 'Éxito',
                        text: 'Producto agregado al carrito',
                        icon: 'success'
                    });
    
                    setTimeout(function() {
                        window.location.reload();
                    }, 2200); 
                },
                error: function(xhr, status, error) {
                    console.error(error);
                    Swal.fire({
                        title: 'Error',
                        text: 'Hubo un problema al agregar el producto al carrito',
                        icon: 'error'
                    });
                }
            });
        });
    });
    
</script>
{% endblock script %}